.pixel-borders {
  position: relative;
  display: inline-block;
  margin: 0 15px 15px 0;
  padding: 15px 20px;
  background-color: #fff;
  font-family: "Press Start 2P", Arial Black, Arial Bold, Arial, sans-serif;
}

.pixel-borders--1 {
  border-style: solid;
  border-width: 4px;
  border-color: #000;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000' /></svg>");
}
@supports (border-image-source: none) {
  .pixel-borders--1 {
    border-radius: 14px;
  }
}

.pixel-borders--1-inset {
  border-style: solid;
  border-width: 4px;
  border-color: #000;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000' /></svg>");
  position: relative;
}
@supports (border-image-source: none) {
  .pixel-borders--1-inset {
    border-radius: 14px;
  }
}
.pixel-borders--1-inset::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -4px -4px #ddd;
}

.pixel-borders--2 {
  border-style: solid;
  border-width: 4px;
  border-color: #000;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%23000' /></svg>");
}
@supports (border-image-source: none) {
  .pixel-borders--2 {
    border-radius: 20px;
  }
}

.pixel-borders--2-inset {
  border-style: solid;
  border-width: 4px;
  border-color: #000;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%23000' /></svg>");
}
@supports (border-image-source: none) {
  .pixel-borders--2-inset {
    border-radius: 20px;
  }
}
.pixel-borders--2-inset::after {
  border-style: solid;
  border-width: 4px;
  border-color: #ddd;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23ddd' /></svg>");
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  border-image-width: 0 1 1 0;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}
@supports (border-image-source: none) {
  .pixel-borders--2-inset::after {
    border-radius: 14px;
  }
}

.pixel-box--light {
  border-style: solid;
  border-width: 4px;
  border-color: #cccccc;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23cccccc' /></svg>");
  position: relative;
  background-color: #fff;
}
@supports (border-image-source: none) {
  .pixel-box--light {
    border-radius: 14px;
  }
}
.pixel-box--light::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -4px -4px #e6e6e6;
}
.pixel-box--light:hover, .pixel-box--light:focus {
  background-color: #f2f2f2;
}

.pixel-box--primary {
  color: #fff;
  border-style: solid;
  border-width: 4px;
  border-color: #0c639c;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%230c639c' /></svg>");
  position: relative;
  background-color: #209cee;
}
@supports (border-image-source: none) {
  .pixel-box--primary {
    border-radius: 14px;
  }
}
.pixel-box--primary::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -4px -4px #1081cb;
}
.pixel-box--primary:hover, .pixel-box--primary:focus {
  background-color: #1190e3;
}

.pixel-box--success {
  color: #fff;
  border-style: solid;
  border-width: 4px;
  border-color: #5b8423;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%235b8423' /></svg>");
  position: relative;
  background-color: #92cc41;
}
@supports (border-image-source: none) {
  .pixel-box--success {
    border-radius: 14px;
  }
}
.pixel-box--success::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -4px -4px #77ac2e;
}
.pixel-box--success:hover, .pixel-box--success:focus {
  background-color: #85c034;
}

.pixel-box--warning {
  border-style: solid;
  border-width: 4px;
  border-color: #a88f06;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23a88f06' /></svg>");
  position: relative;
  background-color: #f7d51d;
}
@supports (border-image-source: none) {
  .pixel-box--warning {
    border-radius: 14px;
  }
}
.pixel-box--warning::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -4px -4px #d9b908;
}
.pixel-box--warning:hover, .pixel-box--warning:focus {
  background-color: #f2ce09;
}

.pixel-box--error {
  color: #fff;
  border-style: solid;
  border-width: 4px;
  border-color: #bc361a;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23bc361a' /></svg>");
  position: relative;
  background-color: #e76e55;
}
@supports (border-image-source: none) {
  .pixel-box--error {
    border-radius: 14px;
  }
}
.pixel-box--error::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -4px -4px #e14828;
}
.pixel-box--error:hover, .pixel-box--error:focus {
  background-color: #e45b3f;
}

.pixel-box--light-custom {
  border-style: solid;
  border-width: 4px;
  border-color: #cccccc;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23cccccc' /></svg>");
  position: relative;
  background-color: #fff;
}
@supports (border-image-source: none) {
  .pixel-box--light-custom {
    border-radius: 14px;
  }
}
.pixel-box--light-custom::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -4px -4px #999, inset 4px 4px #999;
}
.pixel-box--light-custom:hover, .pixel-box--light-custom:focus {
  background-color: #f2f2f2;
}

.pixel-box--primary-custom {
  color: #fff;
  border-style: solid;
  border-width: 4px;
  border-color: #0c639c;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%230c639c' /></svg>");
  background-color: #209cee;
}
@supports (border-image-source: none) {
  .pixel-box--primary-custom {
    border-radius: 14px;
  }
}
.pixel-box--primary-custom:hover, .pixel-box--primary-custom:focus {
  background-color: #1190e3;
}

.pixel-box--success-custom {
  color: #fff;
  border-style: solid;
  border-width: 4px;
  border-color: #5b8423;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%235b8423' /></svg>");
  position: relative;
  background-color: #92cc41;
}
@supports (border-image-source: none) {
  .pixel-box--success-custom {
    border-radius: 14px;
  }
}
.pixel-box--success-custom::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 4px 4px #b5dc7d;
}
.pixel-box--success-custom:hover, .pixel-box--success-custom:focus {
  background-color: #85c034;
}

.pixel-box--warning-custom {
  border-style: solid;
  border-width: 4px;
  border-color: #a88f06;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23a88f06' /></svg>");
  position: relative;
  background-color: #f7d51d;
}
@supports (border-image-source: none) {
  .pixel-box--warning-custom {
    border-radius: 14px;
  }
}
.pixel-box--warning-custom::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -4px -4px #d9b908, inset 4px 4px #fae367;
}
.pixel-box--warning-custom:hover, .pixel-box--warning-custom:focus {
  background-color: #f2ce09;
}

.pixel-box--error-custom {
  color: #fff;
  border-style: solid;
  border-width: 4px;
  border-color: #000;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000' /></svg>");
  position: relative;
  background-color: #e76e55;
}
@supports (border-image-source: none) {
  .pixel-box--error-custom {
    border-radius: 14px;
  }
}
.pixel-box--error-custom::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -4px -4px #e14828;
}
.pixel-box--error-custom:hover, .pixel-box--error-custom:focus {
  background-color: #e45b3f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: pink url("https://wallpapercave.com/wp/wp7233398.jpg") no-repeat center;
  background-size: cover;
  min-height: 100vh;
  color: black;
  font-family: "Press Start 2P", cursive;
  display: flex;
  align-items: center;
  padding: 5% 0;
}
body .wrapper {
  width: 80%;
  margin: auto;
  background: white;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='black' /></svg>");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
}
@supports (border-image-source: none) {
  body .wrapper {
    border-radius: 24px;
  }
}
body .wrapper h1 {
  font-size: 1.75rem;
  line-height: 2;
  text-align: center;
  margin-top: 1rem;
}
body .wrapper .usagi {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}
body .wrapper #refresh {
  font-size: 1.25rem;
  color: #8c64da;
  padding: 0.75rem;
  margin-bottom: 1rem;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.1s ease, box-shadow 0.1s linear;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='black' /></svg>");
  position: relative;
}
@supports (border-image-source: none) {
  body .wrapper #refresh {
    border-radius: 16px;
  }
}
body .wrapper #refresh::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -3px -3px pink;
}
body .wrapper #refresh:hover {
  box-shadow: 0 0 10px 3px pink;
}
body .wrapper .button {
  display: flex;
  width: 100%;
  justify-content: center;
}
body .wrapper .button #button {
  border-style: solid;
  border-width: 4px;
  border-color: #000;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%23000' /></svg>");
  position: relative;
  font-family: "Press Start 2P", cursive;
  color: black;
  background: transparent;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 2;
  flex-basis: 40rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.1s ease, box-shadow 0.1s linear;
}
@supports (border-image-source: none) {
  body .wrapper .button #button {
    border-radius: 20px;
  }
}
body .wrapper .button #button::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -4px -4px pink;
}
body .wrapper .button #button:hover {
  box-shadow: 0 0 10px 3px pink;
}
body .wrapper .waiting {
  margin: 0;
  padding: 0;
  height: 0;
  position: relative;
  top: 4rem;
  z-index: 2;
  margin-bottom: -1.5rem;
}
body .wrapper .waiting .pixel {
  content: "";
  display: inline-block;
  background-color: black;
  width: 15px;
  height: 15px;
}
body .wrapper .tips {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  min-height: 170px;
  padding-top: 1rem;
  justify-content: flex-start;
  max-width: 90%;
  opacity: 0;
}
body .wrapper .tips.visible {
  opacity: 1;
}
body .wrapper .tips p {
  font-size: 0.8rem;
  text-align: center;
  line-height: 2;
}
body .wrapper .tips :first-child,
body .wrapper .tips :nth-child(4) {
  padding-bottom: 1.5rem;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.filter #ingr-list,
.filter #cat-list {
  font-family: "Press Start 2P", cursive;
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: #000;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%23000' /></svg>");
  position: relative;
}
@supports (border-image-source: none) {
  .filter #ingr-list,
  .filter #cat-list {
    border-radius: 16px;
  }
}
.filter #ingr-list::after,
.filter #cat-list::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -3px -3px pink;
}
.filter ::-moz-placeholder {
  color: pink;
}
.filter ::placeholder {
  color: pink;
}

#main-course,
#dessert {
  color: #8c64da;
  position: relative;
  padding-bottom: 0.2rem;
  border-bottom: 3px dotted #8c64da;
  cursor: pointer;
}

#cleaning {
  border-bottom: none;
}

.tips ul {
  align-self: center;
  background: rgb(255, 228, 232);
  width: 40%;
  min-width: 200px;
  border-style: solid;
  border-width: 4px;
  border-color: pink;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='pink' /></svg>");
  position: fixed;
  justify-content: center;
  top: 5%;
  z-index: 3;
  text-align: center;
  padding: 2rem 0;
  list-style-type: none;
  padding: 0;
}
@supports (border-image-source: none) {
  .tips ul {
    border-radius: 20px;
  }
}
.tips ul li {
  padding: 1rem 0;
  font-size: 0.8rem;
  line-height: 2;
}
.tips ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: pink;
  margin-right: 0.5rem;
  margin-bottom: 2px;
}

.hidden {
  display: none;
  margin: 0;
  padding: 0;
}

/* ------------ media queries ---------*/
@media only screen and (max-width: 900px) {
  body .wrapper {
    padding: 1rem;
    width: 85%;
    height: 90%;
  }
  body .wrapper h1 {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  body .wrapper .usagi {
    font-size: 1.5rem;
  }
  body .wrapper .button #button {
    font-size: 0.8rem;
  }
  body .wrapper .waiting .pixel {
    width: 10px;
    height: 10px;
  }
  body .wrapper .tips p {
    font-size: 0.75rem;
  }
  body .wrapper .tips :first-child,
  body .wrapper .tips :nth-child(4) {
    padding-bottom: 1rem;
  }
  .filter {
    gap: 1rem;
  }
  .tips ul {
    top: 2%;
  }
}
@media only screen and (max-width: 480px) {
  body .wrapper h1 {
    font-size: 1rem;
  }
  body .wrapper .usagi {
    font-size: 1.25rem;
    margin-bottom: 0;
  }
  body .wrapper .button #button {
    font-size: 0.75rem;
  }
  body .wrapper .tips p {
    font-size: 0.6rem;
  }
  body .wrapper .tips :first-child,
  body .wrapper .tips :nth-child(4) {
    padding-bottom: 1rem;
  }
  .filter #ingr-list,
  .filter #cat-list {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .filter ::-moz-placeholder {
    font-size: 0.75rem;
  }
  .filter ::placeholder {
    font-size: 0.75rem;
  }
}/*# sourceMappingURL=style.css.map */