@import "node_modules/pixel-borders/src/styles/pixel-borders.scss";

//$small-font: 0.75rem; - have to add new variables for font sizes

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: pink url("https://wallpapercave.com/wp/wp7233398.jpg") no-repeat
		center;
	background-size: cover;
	min-height: 100vh; //height: 100vh;
	color: black;
	font-family: "Press Start 2P", cursive;
	display: flex;
	align-items: center;
	padding: 5% 0;
	.wrapper {
		width: 80%;
		//height: 90vh;
		margin: auto;
		background: white;
		@include pixel-borders(
			$corner-size: 2,
			$border-size: 5px,
			$border-color: black
		);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
		padding: 2rem;
		h1 {
			font-size: 1.75rem;
			line-height: 2;
			text-align: center;
			margin-top: 1rem;
		}
		.usagi {
			font: {
				family: "Open Sans", sans-serif;
				size: 2rem;
				weight: bold;
			}
			line-height: 1.2;
			margin-bottom: 1.5rem;
		}
		#refresh {
			font-size: 1.25rem;
			color: #8c64da;
			padding: 0.75rem;
			margin-bottom: 1rem;
			background-color: transparent;
			cursor: pointer;
			transition: background-color 0.1s ease, box-shadow 0.1s linear;
			@include pixel-borders(
				$corner-size: 2,
				$border-size: 3px,
				$border-color: black,
				$border-inset-color: pink
			);
			&:hover {
				box-shadow: 0 0 10px 3px pink;
			}
		}
		.button {
			display: flex;
			width: 100%;
			justify-content: center;
			#button {
				@include pixel-borders(
					$corner-size: 2,
					$border-size: 4px,
					$border-color: #000,
					$border-inset-color: pink
				);
				font-family: "Press Start 2P", cursive;
				color: black;
				background: transparent;
				padding: 1rem;
				font-size: 1.25rem;
				line-height: 2;
				flex-basis: 40rem;
				justify-content: center;
				align-items: center;
				text-align: center;
				border-radius: 0.5rem;
				cursor: pointer;
				transition: background-color 0.1s ease, box-shadow 0.1s linear;
				&:hover {
					box-shadow: 0 0 10px 3px pink;
				}
			}
		}

		.waiting {
			margin: 0;
			padding: 0;
			height: 0;
			position: relative;
			top: 4rem;
			z-index: 2;
			margin-bottom: -1.5rem;
			.pixel {
				content: "";
				display: inline-block;
				background-color: black;
				width: 15px;
				height: 15px;
			}
		}

		.tips {
			display: flex;
			flex-direction: column;
			justify-self: flex-start;
			min-height: 170px;
			padding-top: 1rem;
			justify-content: flex-start;
			max-width: 90%;
			opacity: 0;
			&.visible {
				opacity: 1;
			}
			p {
				font-size: 0.8rem;
				text-align: center;
				line-height: 2;
			}
			:first-child,
			:nth-child(4) {
				padding-bottom: 1.5rem;
			}
		}
	}
}

.filter {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	// display: none;
	gap: 1rem;
	#ingr-list,
	#cat-list {
		font-family: "Press Start 2P", cursive;
		padding: 0.5rem;
		border-radius: 5px;
		outline: none;
		text-align: center;
		@include pixel-borders(
			$corner-size: 2,
			$border-size: 3px,
			$border-color: #000,
			$border-inset-color: pink
		);
	}
	::placeholder {
		color: pink;
	}
}

#main-course,
#dessert {
	color: #8c64da;
	position: relative;
	padding-bottom: 0.2rem;
	border-bottom: 3px dotted #8c64da;
	cursor: pointer;
}

#cleaning {
	border-bottom: none;
}

.tips ul {
	align-self: center;
	background: rgb(255, 228, 232);
	width: 40%;
	min-width: 200px;
	@include pixel-borders(
		$corner-size: 2,
		$border-size: 4px,
		$border-color: pink
	);
	position: fixed;
	justify-content: center;
	top: 5%;
	z-index: 3;
	text-align: center;
	padding: 2rem 0;
	list-style-type: none;
	padding: 0;
	li {
		padding: 1rem 0;
		font-size: 0.8rem;
		line-height: 2;
		&::before {
			content: "";
			width: 10px;
			height: 10px;
			display: inline-block;
			background-color: pink;
			margin-right: 0.5rem;
			margin-bottom: 2px;
		}
	}
}

.hidden {
	display: none;
	margin: 0;
	padding: 0;
}

/* ------------ media queries ---------*/

@media only screen and (max-width: 900px) {
	body {
		.wrapper {
			padding: 1rem;
			width: 85%;
			height: 90%;
			h1 {
				margin-top: 1rem;
				font-size: 1.5rem;
			}
			.usagi {
				font-size: 1.5rem;
			}
			.button {
				#button {
					font-size: 0.8rem;
				}
			}
			.waiting {
				.pixel {
					width: 10px;
					height: 10px;
				}
			}
			.tips {
				p {
					font-size: 0.75rem;
				}
				:first-child,
				:nth-child(4) {
					padding-bottom: 1rem;
				}
			}
		}
	}

	.filter {
		gap: 1rem;
	}

	.tips ul {
		top: 2%;
	}
}

@media only screen and (max-width: 480px) {
	body {
		.wrapper {
			h1 {
				font-size: 1rem;
			}

			.usagi {
				font-size: 1.25rem;
				margin-bottom: 0;
			}

			.button {
				#button {
					font-size: 0.75rem;
				}
			}
			.tips {
				p {
					font-size: 0.6rem;
				}

				:first-child,
				:nth-child(4) {
					padding-bottom: 1rem;
				}
			}
		}
	}

	.filter {
		#ingr-list,
		#cat-list {
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		::placeholder {
			font-size: 0.75rem;
		}
	}
}
